---
title: Inicio
layout: default
---

{% include header.html %}

<section class="section">
    <div class="container">
        <div class="row">
            {% for post in site.paginator %}
                <div class="col s12 l4">
                    <div class="card hoverable">
                        <div class="card-image">
                            <a href="{{ post.url }}" title="{{ post.title }}"><img src="{{ post.image }}" alt="{{ post.title }}"></a>
                        </div>
                        <span class="card-title"><a href="{{ post.url }}" title="{{ post.title }}">{{ post.title }}</a></span>
                        <div class="card-content light">{{ post.excerpt | truncate_words: 20 }}</div>
                        <div class="card-action">
                            <div class="center">
                                <a href="{{ post.url }}" title="{{ post.title }}" class="btn-flat">Leia Mais</a>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>

        <div class="row">
            <div class="center">
                <div class="col s6">
                    {% if paginator.previous_page %}
                        <a href="{{ paginator.previous_page_path }}" class="btn-large waves-effect waves-light"><i class="fa fa-5x fa-chevron-left"></i></a>
                    {% endif %}
                </div>

                <div class="col s6">
                    {% if paginator.next_page %}
                        <a href="{{ paginator.next_page_path }}" class="btn-large waves-effect waves-light"><i class="fa fa-5x fa-chevron-right"></i></a>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</section>