{% if page.category == "noticias" %}
    <style>
        nav .nav-wrapper {
                background: #34495e;
            }
    </style>
{% endif %}

{% if page.category == "biffs" %}
    <style>
        nav .nav-wrapper {
                background: #e63b16;
            }
    </style>
{% endif %}

{% if page.category == "lancamentos" %}
    <style>
        nav .nav-wrapper {
                background: #16a085;
            }
    </style>
{% endif %}

{% if page.category == "biografias" %}
    <style>
        nav .nav-wrapper {
                background: #006064;
            }
    </style>
{% endif %}