{% if page.title == "Noticias" %}
    <style>
        footer,
        footer,
        nav .nav-wrapper,
        .btn-floating {
            background: #34495e;
        }
    </style>    
{% endif %}

{% if page.title == "Biffs" %}
    <style>
        footer,
        nav .nav-wrapper,
        .btn-floating {
            background: #e63b16;
        }
    </style>
{% endif %}

{% if page.title == "Lançamentos" %}
    <style>
        footer,
        nav .nav-wrapper,
        .btn-floating {
            background: #16a085;
        }
    </style>
{% endif %}

{% if page.title == "Biografias" %}
    <style>
        footer,
        nav .nav-wrapper,
        .btn-floating {
            background: #006064;
        }
    </style>
{% endif %}